dist/
!www/favicon.ico
www/
coverage/
src/components.d.ts

*~
*.sw[mnpcod]
*.log
website/*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
.scannerwork
