/* your custom css */

img[alt='happy'] {
  width: 20px;
  display: inline-block;
}

.homeContainer .homeWrapper .projectLogo {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 2em 100px 2em;
}

.homeContainer .homeWrapper .projectLogo img {
  height: 100%;
  max-height: 150px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  .homeContainer .homeWrapper .projectLogo {
    padding: 1em 50px 1em;
  }

  .homeContainer .homeWrapper .projectLogo img {
    max-height: 100px;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
