legend-chart {
  .legend {
    circle {
      cursor: pointer;
      stroke-width: 2px;

      &.is__inactive {
        fill: #FFFFFF !important;
      }
    }

    text {
      text-anchor: start;
      font-size: 15px;

      &.is__inactive {
        text-decoration: line-through;
      }
    }
  }
}
