name: Release

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - uses: actions/setup-node@master
      with:
        node-version: 12
        registry-url: 'https://registry.npmjs.org/'
    - name: Publish to NPMJS
      run: |
        npm config set //registry.npmjs.org/:_authToken=$NODE_AUTH_TOKEN
        npm config set scope d3-stencil
        npm config list
        npm publish --access public
      env:
        CI: true
        NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

